<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Error Not Found</title>
</head>
<body>
  <div>
    <p class="root-wrapper">
      Oops! Looks like we couldn't find what you were looking for. 
      You might have entered a malformed URL, or the item may not exist. 
      Are you sure you didn't touch the flux capacitor?
    </p>
    <img class="root-wrapper scotty-error-img" src="/static/assets/1f54511ed85f8fe0bc49483d3d9ba58e769bf67104d0170909e2af1eedc594c8.jpg"></img>
  </div>
</body>
</html>