<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shipt API Example</title>
	<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>
<body>
	<div class="root-wrapper">
		<p class="greeting">The customer API is up and running!</p>
			<ul class="routes">
				<li><h3>/customers</h3> Lookup all customers and their associated IDs</li>
				<li><h3>/customers/&lt;id&gt;</h3>  Lookup info and orders for a specific customer</id></li>
				<li><h3>/products</h3>  View all products and categories available</li>
				<li><h3>/orders</h3>  View all orders</li>
				<li><h3>/orders/yyyy-mm/dd/yyyy-mm-dd</h3>  View all orders placed within a specific start/end date range</li>
				<li><h3>/orders/yyyy-mm-dd/yyyy-mm-dd/&lt;day/week/month&gt;</h3>  View all orders from a specific start/end date range, and list breakdown of products sold per day/week/month</li>
			</ul>
	</div>
</body>
</html>